<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CI.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>EssentialFeed.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>EssentialFeedAPIEndToEndTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>EssentialFeedCacheIntegrationTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>EssentialFeediOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>22AC37292AA0E95800D5DBFE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>22AC37302AA0E95900D5DBFE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>22BF82792A8873CB00196095</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>22C0D8EC2A9862D2000D978D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2ECF23E22A7CFB97009F2ACB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2ECF23EA2A7CFB97009F2ACB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
